* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif, Microsoft JhengHei;
}

body header {
  background-color: #f00000;
}

body header .navbar {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .navbar #left {
  margin: 0rem 3rem;
  padding-left: 2rem;
}

body header .navbar #left img {
  width: 40px;
}

body header .navbar #right {
  padding-right: 2rem;
}

body header .navbar #right ul li {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem;
}

body header .navbar #right ul li a.nava {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

body header .navbar #right ul li .nava:hover:after {
  content: "";
  height: 2px;
  background: white;
  display: block;
  -webkit-animation: grow 0.5s;
          animation: grow 0.5s;
  -webkit-transition: 1px ease 0.2s;
  transition: 1px ease 0.2s;
}

body header .navbar #right ul li .active:after {
  content: "";
  height: 2px;
  background: white;
  display: block;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #top {
  width: 100%;
  height: auto;
  z-index: -5;
}

body main #top .carousel .carousel-inner .carousel-item {
  height: 80vh;
}

body main #top .carousel .carousel-inner .carousel-item img {
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

body main #top .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 30%;
}

body main #top .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  display: inline-block;
  margin: 1rem;
  top: 50%;
  font-size: 4rem;
  font-weight: bold;
}

body main #bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main #bottom div {
  width: 375px;
  height: 260px;
}

body main #bottom .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}

body main #bottom .desc h3 {
  display: inline-block;
  background-color: #f00000;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 2.2rem;
  cursor: default;
}

body main #bottom .pic {
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 375px;
  height: 260px;
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #bottom .pic img {
  width: 100%;
  height: 100%;
}

body main #bottom .pic:hover img {
  -webkit-filter: blur(5px) brightness(60%);
          filter: blur(5px) brightness(60%);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

body main #bottom .pic:hover .show {
  opacity: 1;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

body main #bottom .pic .show {
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 30%;
  width: 70%;
  color: #fff;
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
  cursor: default;
}

body main h1 {
  margin: 5rem 0rem;
}

body main #about {
  width: 100%;
  height: auto;
  background-image: url(../images/workout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

body main #about #l {
  width: 40%;
  padding: 2rem 0rem;
  max-height: 80%;
  color: white;
}

body main #about #l h3 {
  font-size: 3rem;
  font-weight: bold;
}

body main #about #r {
  width: 600px;
  color: white;
  font-size: 1.6rem;
  padding: 5rem;
}

body main .car {
  width: 700px;
  height: auto;
  padding: 2rem 0rem;
  margin-bottom: 3rem;
}

body main .car .carousel-indicators li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 26px;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.753);
  border: 1px solid #fff;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

body main .car .carousel-item {
  height: 400px;
  overflow: hidden;
}

body main .card {
  display: none;
  border: 1px solid #c2c2c2;
  margin: 0.75rem;
  cursor: pointer;
}

body main .card .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .card .row .col-md-4 img {
  width: 100%;
  height: 90%;
}

body main .card .row .col-md-8 .card-body h5.card-title {
  font-weight: bold;
}

body main .card .row .col-md-8 .card-body p {
  color: #525252;
}

body main #loadMore {
  padding: 10px;
  text-align: center;
  background-color: #33739e;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  -webkit-box-shadow: 0 1px 1px #ccc;
          box-shadow: 0 1px 1px #ccc;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-decoration: none;
}

body main #loadMore:hover {
  background-color: #fff;
  color: #33739e;
}

body main .noContent {
  background-color: #c7c7c7 !important;
  pointer-events: none;
}

body main #charge {
  width: 90%;
  margin-bottom: 8rem;
}

body main #charge img {
  width: 80%;
  margin-left: 10%;
}

body main #charge p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15%;
}

body main #charge p a {
  text-decoration: none;
  color: #002195;
}

body main #login {
  width: 450px;
  border: 1px solid #cecece;
  border-radius: 20px;
  padding: 2rem 1.75rem 4rem 1.75rem;
  margin: 0rem 2rem 5rem 2rem;
}

body main #login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

body main #login form .mb-3 {
  width: 350px;
}

body main #login form button {
  margin: 1rem 0rem;
}

body main #signup {
  border: 1px solid #cecece;
  border-radius: 20px;
  padding: 2rem 1.75rem 4rem 1.75rem;
  margin: 0rem 2rem 5rem 2rem;
}

body main #signup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

body main #signup .mb-3 {
  width: 400px;
}

body main #signup input[type="number"] {
  -moz-appearance: textfield;
}

body main #signup input::-webkit-outer-spin-button,
body main #signup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body main #reserve {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #reserve div {
  width: 250px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 2rem 1rem 2rem;
}

body main #reserve div .number {
  margin-top: 0.5rem;
  background-color: #eeeeee;
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main button.book-now {
  margin: 2rem 0rem 5rem 0rem;
  width: 150px;
  height: 75px;
  border: none;
  border-radius: 30px;
  background-color: #0bb9b9;
  color: #fff;
  font-size: 1.5rem;
}

body main a button.login-first {
  margin: 2rem 0rem 5rem 0rem;
  width: 150px;
  height: 75px;
  border: none;
  border-radius: 30px;
  background-color: #0bb9b9;
  color: #fff;
  font-size: 1.5rem;
}

body footer {
  color: white;
  background-color: #f00000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer #f-l {
  padding: 1rem;
}

body footer #f-l img {
  width: 80px;
}

body footer #f-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

body footer #f-r #f-t ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

body footer #f-r #f-t ul li {
  margin: 1rem;
}

body footer #f-r #f-t ul li a {
  text-decoration: none;
  color: white;
}

body footer #f-r #f-b {
  text-align: center;
}

@-webkit-keyframes grow {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes grow {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 915px) {
  main div#bottom {
    padding: 3rem 0rem;
  }
  main div#bottom div.desc {
    margin: 2rem 0rem;
  }
  main div#bottom div.pic {
    margin: 2rem 0rem;
  }
  main #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #about div#l {
    width: 90%;
    padding: 0;
    max-height: 80%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #about div#l h3 {
    font-size: 3rem;
    font-weight: bold;
  }
  main #about div#r {
    width: 90vw;
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main div#charge {
    width: 90vw;
  }
  main div#charge img {
    width: 90%;
    margin-left: 5%;
  }
  main div#charge p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15%;
  }
}

@media screen and (max-width: 915px) and (max-width: 650px) {
  main div#top div.carousel div.carousel-inner div.carousel-item {
    height: 60vh;
  }
  main div#top div.carousel div.carousel-inner div.carousel-item div.carousel-caption h5 {
    font-size: 38px;
    margin-top: 0.5;
  }
  main div#about div#l h3 {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  main div#about div#r {
    font-size: 1.2rem;
  }
  main div.car {
    width: 85%;
    margin-bottom: 0rem;
  }
  main div#charge p {
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 15%;
  }
  main div#signup {
    width: 85vw;
  }
  main div#signup .form-floating {
    width: 75vw;
  }
  main div#signup .form-floating .form-control {
    width: 100%;
  }
  main div#signup .form-select {
    width: 75vw;
  }
  main div#login {
    width: 85vw;
  }
  main div#login .form-control {
    width: 100%;
  }
  footer #f-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #f-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0rem;
  }
  footer #f-r #f-t {
    padding: 1rem;
  }
  footer #f-r #f-t ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
  }
  footer #f-r #f-t ul li {
    padding: 0rem;
    line-height: 0.2rem;
  }
  footer #f-r #f-b {
    text-align: center;
  }
}

@media screen and (max-width: 915px) and (max-width: 1200px) {
  main div.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main div.wrapper div:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  main div.wrapper div:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=style.css.map */