* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif, Microsoft JhengHei;
}

body {
  header {
    background-color: #f00000;

    .navbar {
      display: flex;
      justify-content: space-between;
      #left {
        margin: 0rem 3rem;
        padding-left: 2rem;
        .navbar-brand {
          margin: 0;
          padding: 0;
          img {
            width: 40px;
          }
        }
      }
      #right {
        padding-right: 2rem;
        ul {
          .nav-item {
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0rem 1rem;
            a.nava {
              text-decoration: none;
              color: white;
              font-size: 1.25rem;
              font-weight: bold;
              //   display: flex;
              //   flex-direction: column;
              //   align-items: center;
            }
            .nava:hover:after {
              content: "";
              height: 2px;
              background: rgb(255, 255, 255);
              display: block;
              animation: grow 0.5s;
              transition: 1px ease 0.2s;
            }
            .active:after {
              content: "";
              height: 2px;
              background: rgb(255, 255, 255);
              display: block;
            }
          }
        }
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #top {
      width: 100%;
      height: auto;
      z-index: -5;
      .carousel {
        .carousel-inner {
          .carousel-item {
            height: 80vh;
            position: relative;
            img {
              height: 100%;
              object-position: center;
              object-fit: cover;
            }
            .carousel-caption {
              top: 30%;
              // position: absolute;
              h5 {
                display: inline-block;
                margin: 1rem;
                top: 50%;
                font-size: 4rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    #bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      display: flex;
      flex-wrap: wrap;
      div {
        width: 375px;
        height: 260px;
      }
      .desc {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem;
        h3 {
          display: inline-block;
          background-color: #f00000;
          padding: 1rem 1.5rem;
          color: white;
          font-size: 2.2rem;
          cursor: default;
        }
      }

      .pic {
        position: relative;
        overflow: hidden;
        object-fit: cover;
        width: 375px;
        height: 260px;
        margin: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          transition: 0.5s ease-in-out;
        }
        &:hover img {
          filter: blur(5px) brightness(60%);
        }
        &:hover .show {
          opacity: 1;
        }
        .show {
          text-align: center;
          opacity: 0;
          position: absolute;
          top: 30%;
          width: 70%;
          color: #fff;
          z-index: 2;
          font-size: 22px;
          font-weight: bold;
          cursor: default;
          transition: 1s ease-in-out;
        }
      }
    }

    h1 {
      margin: 5rem 0rem;
    }

    #about {
      width: 100%;
      height: 80vh;
      background-image: url(../images/workout.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      #l {
        width: 40%;
        padding: 2rem 0rem;
        max-height: 80%;
        color: white;
        h3 {
          font-size: 3rem;
          font-weight: bold;
        }
      }
      #r {
        width: 600px;
        color: white;
        font-size: 1.35rem;
        padding: 8rem;
        #blur {
          background-color: rgba(126, 125, 125, 0.374);
          padding: 0.45rem 0.75rem;
          border-radius: 10px;
        }
      }
    }
    .timeline {
      border-left: 2px solid #d4d7fc;
      margin: 0 auto 5rem auto;
      letter-spacing: 0.2px;
      position: relative;
      line-height: 1.4em;
      font-size: 1.03em;
      list-style: none;
      padding: 0 50px 0 50px;
      text-align: left;
      width: 60vw;
      h3 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      .event {
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
      }
      .event:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }
      .event:after {
        position: absolute;
        display: block;
        top: 5px;
        box-shadow: 0 0 0 2px #838dff;
        left: -55.8px;
        background: #fff;
        border-radius: 50%;
        height: 9px;
        width: 9px;
        content: "";
        top: 5px;
        margin-top: -5px;
      }
    }

    .card {
      display: none;
      border: 1px solid rgb(194, 194, 194);
      margin: 0.75rem;
      cursor: pointer;
      .row {
        .col-md-4 {
          display: flex;
          align-items: center;
          img {
            width: 100%;
            height: 90%;
          }
        }
        .col-md-8 {
          .card-body {
            h5.card-title {
              font-weight: bold;
            }
            p {
              color: #525252;
            }
          }
        }
      }
    }
    #loadMore {
      padding: 10px;
      text-align: center;
      background-color: #f00000;
      color: #fff;
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: #fff;
      box-shadow: 0 1px 1px #ccc;
      transition: all 600ms ease-in-out;
      margin-top: 2rem;
      margin-bottom: 5rem;
      text-decoration: none;
    }
    #loadMore:hover {
      background-color: #fff;
      color: #f00000;
    }
    .noContent {
      background-color: rgb(199, 199, 199) !important;
      pointer-events: none;
    }
    #charge {
      width: 90%;
      margin-bottom: 8rem;
      img {
        width: 80%;
        margin-left: 10%;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 15%;
        a {
          text-decoration: none;
          color: #002195;
        }
      }
    }
    .map {
      width: 70vw;
    }

    #login {
      width: 450px;
      border: 1px solid rgb(206, 206, 206);
      border-radius: 20px;
      padding: 2rem 1.75rem 4rem 1.75rem;
      margin: 0rem 2rem 5rem 2rem;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        .mb-3 {
          width: 350px;
        }
        .login-btn {
          background-color: #f00000;
          color: white;
          margin: 1rem 0rem;
        }
      }
    }
    #signup {
      border: 1px solid rgb(206, 206, 206);
      border-radius: 20px;
      padding: 2rem 1.75rem 4rem 1.75rem;
      margin: 0rem 2rem 5rem 2rem;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
      }
      .mb-3 {
        width: 400px;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .reserve {
      width: 90vw;
      display: flex;
      flex-wrap: wrap;
      // align-items: center;
      justify-content: center;

      div {
        width: 250px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        // background-color: rgb(238, 238, 238);
        margin: 2rem 2rem 1rem 2rem;
        .number {
          margin-top: 0.5rem;
          // width: 80%;
          // height: 45%;
          background-color: rgb(238, 238, 238);
          font-size: 2rem;
          font-weight: bold;
          display: flex;
          justify-content: center;
        }
      }
    }
    .res-can {
      button.book-now {
        margin: 2rem 3rem 5rem 3rem;
        width: 135px;
        height: 65px;
        border: none;
        border-radius: 30px;
        background-color: #f00000;
        color: #fff;
        font-size: 1.25rem;
      }

      a {
        button.login-first {
          margin: 2rem 3rem 5rem 3rem;
          width: 135px;
          height: 65px;
          border: none;
          border-radius: 30px;
          background-color: #f00000;
          color: #fff;
          font-size: 1.25rem;
        }
      }
    }
  }

  footer {
    color: white;
    background-color: #f00000;
    display: flex;
    justify-content: center;
    #f-l {
      padding: 0.5rem;
      img {
        width: 60px;
      }
    }
    #f-r {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      #f-t {
        ul {
          display: flex;
          list-style-type: none;
          li {
            margin-left: 1rem;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
      #f-b {
        text-align: center;
        .small {
          margin-left: 1rem;
        }
      }
    }
  }
}

@keyframes grow {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  main {
    div#bottom {
      padding: 3rem 0rem;
      div.desc {
        margin: 2rem 0rem;
      }
      div.pic {
        margin: 2rem 0rem;
      }
    }
    #about {
      display: flex;
      flex-direction: column;
      height: 60vh;
      div#l {
        width: 90%;
        padding: 0;
        max-height: 80%;
        color: white;
        display: flex;
        justify-content: center;
        h3 {
          font-size: 3rem;
          font-weight: bold;
        }
      }
      div#r {
        width: 90vw;
        color: white;
        font-size: 1.5rem;
        padding: 2rem;
        display: flex;
        justify-content: center;
      }
    }
    div#charge {
      width: 90vw;
      img {
        width: 90%;
        margin-left: 5%;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 15%;
      }
    }
  }

  @media screen and (max-width: 650px) {
    header {
      nav.navbar {
        #left {
          padding-left: 0;
          margin: 0rem 1rem;
        }
        #right {
          padding: 0rem;
        }
      }
    }
    main {
      div#top {
        div.carousel {
          div.carousel-inner {
            div.carousel-item {
              height: 60vh;
              div.carousel-caption {
                h5 {
                  font-size: 38px;
                  margin-top: 0.5;
                }
              }
            }
          }
        }
      }

      div#about {
        height: 60vh;
        div#l {
          h3 {
            margin-top: 2rem;
            font-size: 2.5rem;
            font-weight: bold;
          }
        }
        div#r {
          font-size: 1.2rem;
        }
      }
      .timeline {
        max-width: 98%;
        padding: 0 27px 0 27px;
      }
      .timeline .event {
        padding-top: 0;
      }
      .timeline .event:after {
        left: -31.8px;
      }
      div.car {
        width: 85%;
        margin-bottom: 0rem;
      }
      div#charge {
        img {
          width: 100%;
          margin: 0;
        }
        p {
          font-size: 0.7rem;
          font-weight: bold;
          margin-left: 15%;
        }
      }
      div#signup {
        width: 85vw;
        .form-floating {
          width: 75vw;
          .form-control {
            width: 100%;
          }
        }
        .form-select {
          width: 75vw;
        }
      }
      div#login {
        width: 85vw;
        .form-control {
          width: 100%;
        }
      }
    }
    footer {
      #f-l {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #f-r {
        display: flex;
        flex-direction: column;
        // padding-right: 20px;
        margin-left: 0rem;
        #f-t {
          padding: 0;
          margin-bottom: 1rem;
          ul {
            display: flex;
            flex-direction: column;
            margin: 0rem;
            padding: 0rem;
            li {
              padding: 0rem;
              line-height: 2rem;
            }
          }
        }
        #f-b {
          text-align: center;
          display: flex;
          flex-direction: column;
          padding-bottom: 1rem;
          .br {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    main {
      div.wrapper {
        display: flex;
        flex-direction: column;
      }
      div.wrapper div:nth-child(3) {
        order: 4;
      }
      div.wrapper div:nth-child(4) {
        order: 3;
      }
    }
  }
}
