* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif, Microsoft JhengHei;
}

body header {
  min-height: 5vh;
  background-color: #f00000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 20;
}

body header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

body header .navbar #left {
  margin: 0rem 5rem;
  padding-left: 2rem;
}

body header .navbar #left .navbar-brand {
  margin: 0;
  padding: 0;
}

body header .navbar #left .navbar-brand img {
  width: 40px;
}

body header .navbar #right {
  padding-right: 1rem;
}

body header .navbar #right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 45vw;
}

body header .navbar #right ul .nav-item {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

body header .navbar #right ul .nav-item a.nava {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

body header .navbar #right ul .nav-item .nava:hover:after {
  content: "";
  height: 2px;
  background: white;
  display: block;
  -webkit-animation: grow 0.5s;
          animation: grow 0.5s;
  -webkit-transition: 1px ease 0.2s;
  transition: 1px ease 0.2s;
}

body header .navbar #right ul .nav-item .active:after {
  content: "";
  height: 2px;
  background: white;
  display: block;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

body main .banner {
  width: 100%;
  height: 60vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .banner .banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .banner .banner-h1 {
  position: absolute;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em #252525;
  font-size: 4rem;
  font-weight: bold;
}

body main #top {
  width: 100%;
  height: auto;
}

body main #top ol li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

body main #top .carousel .carousel-inner .carousel-item {
  height: 60vh;
  position: relative;
}

body main #top .carousel .carousel-inner .carousel-item img {
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

body main #top .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 35%;
}

body main #top .carousel .carousel-inner .carousel-item .carousel-caption h1 {
  display: inline-block;
  top: 50%;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

body main h2 {
  font-size: 3rem;
  margin: 5rem 0rem;
}

body main #bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0rem 3rem;
}

body main #bottom .pic {
  display: block;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 27vw;
  height: 20vw;
  margin: 0rem 1rem 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #bottom .pic img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main #bottom .pic:hover img {
  -webkit-filter: blur(5px) brightness(60%);
          filter: blur(5px) brightness(60%);
}

body main #bottom .pic:hover .show {
  opacity: 1;
}

body main #bottom .pic .show {
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 30%;
  width: 70%;
  color: #fff;
  z-index: 2;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body main #about {
  width: 100%;
  height: 60vh;
  background-image: url(../images/workout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

body main #about #l {
  width: 40%;
  padding: 2rem 0rem;
  max-height: 80%;
  color: white;
}

body main #about #l h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0.3rem 0.3rem 0.6rem #5e4949;
}

body main #about #r {
  width: 600px;
  color: white;
  font-size: 1.35rem;
  padding: 8rem;
}

body main #about #r #blur {
  background-color: rgba(65, 65, 65, 0.514);
  padding: 0.45rem 0.75rem;
  border-radius: 10px;
}

body main .timeline {
  border-left: 2px solid #d4d7fc;
  margin: 0 auto 5rem auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  list-style: none;
  padding: 0 50px 0 50px;
  text-align: left;
  width: 60vw;
}

body main .timeline h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

body main .timeline p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

body main .timeline .event {
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

body main .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

body main .timeline .event:after {
  position: absolute;
  display: block;
  top: 5px;
  -webkit-box-shadow: 0 0 0 2px #838dff;
          box-shadow: 0 0 0 2px #838dff;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
  margin-top: -5px;
}

body main .card {
  display: none;
  border: 1px solid #c2c2c2;
  margin: 0.75rem;
  cursor: pointer;
}

body main .card .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
}

body main .card .row .col-md-4 img {
  width: 100%;
  height: 90%;
}

body main .card .row .col-md-8 .card-body h5.card-title {
  font-weight: bold;
}

body main .card .row .col-md-8 .card-body p {
  color: #525252;
}

body main #loadMore {
  padding: 10px;
  text-align: center;
  background-color: #f00000;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 1px #ccc;
          box-shadow: 0 1px 1px #ccc;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-decoration: none;
}

body main #loadMore:hover {
  background-color: #fff;
  color: #f00000;
}

body main .noContent {
  background-color: #c7c7c7 !important;
  pointer-events: none;
}

body main #charge {
  width: 90%;
  margin-bottom: 8rem;
}

body main #charge img {
  width: 80%;
  margin-left: 10%;
}

body main #charge p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15%;
}

body main #charge p a {
  text-decoration: none;
  color: #002195;
}

body main .map {
  width: 70vw;
}

body main #login {
  width: 450px;
  border: 1px solid #cecece;
  border-radius: 20px;
  padding: 2rem 1.75rem 4rem 1.75rem;
  margin: 0rem 2rem 5rem 2rem;
}

body main #login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

body main #login form .mb-3 {
  width: 350px;
}

body main #login form .login-btn {
  background-color: #f00000;
  color: white;
  margin: 1rem 0rem;
  outline: none;
  border-radius: 50px;
}

body main #login form .login-btn:active, body main #login form .login-btn.active {
  background-color: #c44343;
}

body main #signup {
  border: 1px solid #cecece;
  border-radius: 20px;
  padding: 2rem 1.75rem 4rem 1.75rem;
  margin: 0rem 2rem 5rem 2rem;
}

body main #signup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

body main #signup .mb-3 {
  width: 400px;
}

body main #signup input[type="number"] {
  -moz-appearance: textfield;
}

body main #signup input::-webkit-outer-spin-button,
body main #signup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body main .reserve {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .reserve div {
  width: 250px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 2rem 1rem 2rem;
}

body main .reserve div .number {
  margin-top: 0.5rem;
  background-color: #eeeeee;
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .res-can button.book-now {
  margin: 2rem 3rem 5rem 3rem;
  width: 135px;
  height: 65px;
  border: none;
  border-radius: 30px;
  background-color: #f00000;
  color: #fff;
  font-size: 1.25rem;
}

body main .res-can #cancel {
  background-color: #cc3030;
}

body main .res-can #cancel:hover {
  background-color: #f00000;
}

body main .res-can a button.login-first {
  margin: 2rem 3rem 5rem 3rem;
  width: 135px;
  height: 65px;
  border: none;
  border-radius: 30px;
  background-color: #f00000;
  color: #fff;
  font-size: 1.25rem;
}

body footer {
  min-height: 8vh;
  color: white;
  background-color: #f00000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px;
}

body footer #f-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer #f-l img {
  width: 45px;
}

body footer #f-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

body footer #f-r #f-t ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
}

body footer #f-r #f-t ul li {
  margin-left: 1rem;
}

body footer #f-r #f-t ul li a {
  text-decoration: none;
  color: white;
}

body footer #f-r #f-b {
  text-align: center;
}

body footer #f-r #f-b .small {
  margin-left: 1rem;
}

@-webkit-keyframes grow {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes grow {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 1366px) {
  body main #top .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
  }
  body main #about #l h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
  }
  body main .banner .banner-h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 991px) {
  body main #bottom {
    width: 100%;
  }
  body main #bottom .pic {
    width: 30vw;
  }
  body main #bottom .pic .show {
    font-size: 16px;
    top: 20%;
  }
  body main #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
  }
  body main #about #l {
    width: 90%;
    padding: 0;
    max-height: 80%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main #about #r {
    width: 90vw;
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main div#charge {
    width: 90vw;
  }
  body main div#charge img {
    width: 90%;
    margin-left: 5%;
  }
  body main div#charge p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15%;
  }
}

@media screen and (max-width: 650px) {
  body header nav.navbar #left {
    padding-left: 0;
    margin: 0rem 1rem;
  }
  body header nav.navbar #right {
    padding: 0rem;
  }
  body main div.banner {
    height: 50vh;
  }
  body main div.banner .banner-h1 {
    font-size: 2.5rem;
  }
  body main h2 {
    font-size: 2rem;
  }
  body main div#top div.carousel div.carousel-inner div.carousel-item {
    height: 50vh;
  }
  body main div#top div.carousel div.carousel-inner div.carousel-item div.carousel-caption h1 {
    font-size: 2.5rem;
    margin-top: 0.5;
  }
  body main div#bottom div.pic {
    width: 60vw;
    height: 40vw;
  }
  body main div#about {
    height: 50vh;
  }
  body main div#about div#l h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  body main div#about div#r {
    font-size: 1.2rem;
  }
  body main .timeline {
    max-width: 98%;
    padding: 0 27px 0 27px;
  }
  body main .timeline .event h3 {
    font-size: 1.2rem;
  }
  body main .timeline .event p {
    font-size: 1rem;
  }
  body main .timeline .event {
    padding-top: 0;
  }
  body main .timeline .event:after {
    left: -31.8px;
  }
  body main div.car {
    width: 85%;
    margin-bottom: 0rem;
  }
  body main div#charge img {
    width: 100%;
    margin: 0;
  }
  body main div#charge p {
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 15%;
  }
  body main div#signup {
    width: 85vw;
  }
  body main div#signup .form-floating {
    width: 75vw;
  }
  body main div#signup .form-floating .form-control {
    width: 100%;
  }
  body main div#signup .form-select {
    width: 75vw;
  }
  body main div#login {
    width: 85vw;
  }
  body main div#login .form-control {
    width: 100%;
  }
  body footer #f-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0rem;
  }
  body footer #f-r #f-t {
    display: none;
  }
  body footer #f-r #f-t ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0rem;
    padding: 0rem;
  }
  body footer #f-r #f-t ul li {
    padding: 0rem;
    line-height: 2rem;
  }
  body footer #f-r #f-b {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer #f-r #f-b .br {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */